*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#activity-tile {
    background-color: rgba(249, 247, 247, 0.9)
}

.col-md-6:hover{
    cursor: pointer;
}

.create-header {
    padding-right: 20px;
}

.auth-body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #98C9F2;
    min-width: 320px;
}

.create-activity-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 32px);}

.create-activity-container {
    width: 85%;
    font-family: Roboto, serif;
    background: rgba(249, 247, 247, 0.9);
    box-shadow: 20px 25px 13px -20px rgba(0,0,0,0.35);
    border-radius: 9px;
    text-align: center;
}

.create-activity h1 {
    color: #5E5D5D;
    padding: 30px;
    font-size: 1em;
}

.create-activity-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-activity-Input {
    font-weight: 400;
    font-family: Roboto, serif;
    color: #6A6A6A;
    width: 85%;
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff;
}

.create-activity-form-button {
    color:#ffffff;
    font-family: Roboto, serif;
    border: none;
    border-radius: 1px;
    width: 20%;
    margin: 20px 0 8px 0;
    background-color: #E8554E;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.create-activity-form-button:hover {
    cursor: pointer;
    opacity: .90;
    background-color: #c14729;
}

.upload-image-btn {
    background-color: #3D405B;
}

.upload-image-btn:hover {
    opacity: .80;
}

#activity-details-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#activity-details-title {
    font-size: 4em;
    line-height: 1em;
    margin-bottom: 1em;
    margin-top: .5em;
}

#activity-details-summary {
    font-style: italic;
    max-width: 800px;
    margin: 0 auto;
}

#activity-image {
    height: 415px;
    width: 332px;
}

#activity-details-content-container {
    text-align: left;
    line-height: 2em;
}

#activity-details-supplies {
    margin-bottom: 2em;
}

@media(min-width: 375px) and (max-width: 424px) {
    .create-activity-container {
        margin-top: -1.5em;
    }

    .create-activity h1 {
        font-size: 2em;
        margin-bottom: -.5em;
        margin-top: -.5em;
    }

    .create-activity-Input {
        width: 75%;
        font-size: 10px;
    }

    button {
        border-radius: 5px;
        font-size: 12px;
    }

    .create-activity-form-button {
        width: 100px;
        border-radius: 5px;
        font-size: 15px;
    }
}

@media(min-width: 425px) {
    .create-activity h1 {
        font-size: 1.3em;
    }
}

@media(min-width: 768px) {
    .create-activity-wrapper {
        min-height: calc(100vh - 63px);
    }

    #activity-image {
        height: 500px;
        width: 400px;
        float: right;
        margin-left: 2em;
    }

    .create-activity-container {
        width: 80%;
        max-width: 800px;
        margin-top: -7em;
    }

    .create-activity h1 {
        font-size: 2.5em;
    }
}

@media(min-width: 1024px) {
    #activity-image {
        height: 500px;
        width: 400px;
        float: right;
        margin-left: 2em;
    }

    .create-activity h1 {
        font-size: 3em;
    }

    .create-activity-Input {
        font-weight: 400;
        font-size: .9em;
    }
    .create-activity-form-button {
        width: 120px;
    }
}


