*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #a3f3ff;
    min-width: 320px;
}

.Login-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.SignUp-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.Login, .SignUp {
    width: 85%;
    font-family: Roboto, serif;
    background: rgba(249, 247, 247, 0.9);
    box-shadow: 20px 25px 13px -20px rgba(0,0,0,0.35);
    border-radius: 9px;
    text-align: center;
}

.User-Login h1 {
    color: #5E5D5D;
    padding: 30px 0 10px 0;
    font-size: 1.5em;
}

.Create-Account h1 {
    color: #5E5D5D;
    padding: 30px;
    font-size: 1em;
}

.Login-Form, .SignUp-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login-Form-Input {
    font-weight: 400;
    font-family: Roboto, serif;
    color: #6A6A6A;
    width: 85%;
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff;
}

.SignUp-Form-Input {
    font-weight: 400;
    font-family: Roboto, serif;
    color: #6A6A6A;
    width: 85%;
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff;
}

.SignUp-Form-Button {
    color:#ffffff;
    font-family: Roboto, serif;
    border: none;
    border-radius: 1px;
    width: 20%;
    margin: 20px 0 8px 0;
    background-color: #e56c4e;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.Login-Form-Button {
    color:#ffffff;
    font-family: Roboto, serif;
    border: none;
    border-radius: 1px;
    width: 20%;
    margin: 20px 0 8px 0;
    background-color: #e56c4e;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.Login-Form-Button:hover {
    cursor: pointer;
    opacity: .90;
}

.SignUp-Form-Button:hover {
    cursor: pointer;
    opacity: .90;
}

p.login-prompt {
    color: #5E5D5D;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: Roboto, serif;
    font-size: .9em;
    text-decoration:none;
}

p.login-prompt > a, p.login-prompt > a:visited {
    text-decoration:none;
    color: #5E5D5D;
}

p.login-prompt > a:hover {
    color: #e56c4e;
    text-decoration: underline;
    text-decoration-color: #e56c4e;
}

@media(min-width: 375px) {
    .User-Login, .Create-Account h1 {
        font-size: 1.5em;
    }

    .Login-Form-Input, .SignUp-Form-Input {
        width: 75%;
    }
}

@media(min-width: 425px) {
    .User-Login, .Create-Account h1 {
        font-size: 1.3em;
    }
}

@media(min-width: 768px) {
    .Login, .SignUp {
        width: 50%;
    }

    .User-Login, .Create-Account h1 {
        font-size: 1.25em;
    }
}

@media(min-width: 1024px) {
    .User-Login, .Create-Account h1 {
        font-size: 1.25em;
    }

    .Login-Form-Input, .SignUp-Form-Input {
        font-weight: 400;
        font-size: .9em;
    }
}

.Login-Form-Button {
    width: 120px;
}

.SignUp-Form-Button {
    width: 120px;
}
